body{
	margin:50px 100px 50px 100px;
	border-color:white;
	word-break: break-all;
	background-color:#E3E3DF;
	color:#3E3E3D;
	font-family: Georgia, serif;
}
a{
	text-decoration:none;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
	color:#333332;
	
}
a:link{
	color:#333332;
}
a:visited{
	color:#333332;
}

a:hover{
	text-shadow: 2px -2px 4px #646463;
	/*color:red;*/
	
}
/*////////////////////////TOP-class elements/////////////////////////*/
#role{
	margin-top:0;
	float:right;
}

#main_img{
	
	margin-top:0px;
	margin-left:20%;	
	width:60%;
	height:250px;
	
}
#main_menu{
	
	margin-left:20%;
	margin-right:10%;
	width:40%;
	float:left;
	
}
#lang_menu{	
	
	margin-right:20%;
	margin-left:60%;
	width:20%;
}
.flag{
		width:10%;
		height:10%;
	
}
/*//////////////enter_form-class/////////////////////////*/

#form{
	
	width:30%;
	margin-left:70%;
}
.ava{
	width:100px;
	height:100px;
}
#user{
	
	width:10%;
	margin-left:80%;
	margin-right:5%;
}
/*//////////////////////////////////////////////////////////////*/
#middle_body{
	
	display:table;
	height:100%;
	width:100%;
	
}
#left_menu{	
	width:24%;
	height:100%;
	float:left;
	
}

.content{	
	width:50%;
	height:100%;
	float:left;
}

#right_menu{	
	width:24%;
	height:100%;
	float:right;
}
.art_form{
margin:2px 2px 2px 2px;

}
.inline_list{
	display:inline;
	list-style-type:none;
	width:100%;
}
.non_mark_list{
	list-style-type:none;
}
.all_info{
	height:100%;
	width:100%;
	margin-bottom:10px;
	margin-top: 10px;
}
.all_us_pic{                         
	width:150px;
	height:150px;
	float:left;
	margin-right:20px;	
	margin-bottom:0px;
}
.us_info{

	margin-right:30%;
	margin-top: 0px;
	height:150px;
	margin-bottom: 10px;
}
p.float{
	float:right;
}
.change_info_form{
	float:right;
	margin-right:10%;
}
.change_ava_form{
float:left;
margin-top:2%;
}
#prof_left_part{
	float:left;
	
}
.profile_pic{
	width:150px;
	height:150px;
	
}
.log_role{
	margin-top:2px;
	margin-bottom:2px;
}
/*////////////////////////REG FORM//////////////////////////////////*/
#reg_form{
	width:500px;
	margin-top:100px;
	margin-left:400px;
	text-align:left;
}
.field_name{
	width:150px;
	float:left;
	margin-top:3px;
}
.field_mess{
	color:#CC0000;
	
}
/*//////////////////////////////////////////////////////////////////////*/
#mark{
	margin-top: 50px;
	
}
#comment_form{
	margin-top: 50px;
	margin-bottom: 20px;
}
#comments{
	width:80%;
	margin-left:20px;
	word-break: break-all;
}
#comment{
	
	margin-top:20px;
}
.eng_word{
	width:65%;
}